<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>HandleLogin</servlet-name>
        <servlet-class>com.example.bank_manager3.servlet.HandleLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleLogin</servlet-name>
        <url-pattern>/HandleLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fundServlet</servlet-name>
        <servlet-class>com.example.bank_manager3.servlet.FundServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fundServlet</servlet-name>
        <url-pattern>/fundServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insuranceServlet</servlet-name>
        <servlet-class>com.example.bank_manager3.servlet.InsuranceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insuranceServlet</servlet-name>
        <url-pattern>/insuranceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>handler</servlet-name>
        <servlet-class>com.example.bank_manager3.servlet.SellHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handler</servlet-name>
        <url-pattern>/handler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>financeProductServlet</servlet-name>
        <servlet-class>com.example.bank_manager3.servlet.FinanceProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>financeProductServlet</servlet-name>
        <url-pattern>/financeProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.example.bank_manager3.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.example.bank_manager3.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateInfoServlet</servlet-name>
        <servlet-class>com.example.bank_manager3.servlet.UpdateInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateInfoServlet</servlet-name>
        <url-pattern>/updateInfoServlet</url-pattern>
    </servlet-mapping>
</web-app>